<main class="container">
    <h1>Register</h1>
    <form action="/api/sessions/register" method="POST" class="form-group w-50" >
        <label>Nombre</label>
        <input type="texto" name="firts_name" class="form-control">
        <label>Apellido</label>
        <input type="texto" name="last_name" class="form-control">
        <label>Edad</label>
        <input type="number" name="age" class="form-control">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <label>Password</label>
        <input type="password" name="password" class="form-control">
        <button class="btn btn-outline-dark w-100 mt-3">Registrar</button>
    </form>
</main>