
    <main class="container">
        <h1>Resetear Contrase単a</h1>
        <form action="/api/sessions/resetPassword" method="POST"  class="form-group w-50" >
            <input type="hidden" name="token" value="{{token}}">
            <label>Nueva Contrase単a</label>
            <input type="password" name="passwordNew" class="form-control"  required>
            <label>Confirmar Contrase単a</label>
            <input type="password" name="passwordConfirm" class="form-control"  required>
            <button class="btn btn-outline-dark w-100 mt-3">Resetear Contrase単a</button>
        </form>
    </main>