<main class="container">
      <div style="position: relative; height: 50px;">
            <a href= "/products" style="display: inline-block;margin-top: 10px;" class="btn btn-outline-dark">
                Volver 
            </a>
            <a href="/api/sessions/logout"  style="position: absolute;  right: 0;margin-top: 10px; " class="btn  btn-outline-dark">
                Logout
            </a> 
      </div>
    
    <h2>Formulario de Carga de Archivos</h2>
    <h3>Subir imagen de perfil</h3>
     <form action="/api/users/{{user._id}}/documents" method="POST" enctype="multipart/form-data" class="form-group w-50">
        <input type="file" name="profile" id="profile" accept="image/*">
        <button  class="btn btn-outline-dark w-100 mt-3" type="submit">Subir Perfil</button>
    </form>

    <h3>Subir Documentos</h3>
    <form method="POST" action="/api/users/{{user._id}}/documents" enctype="multipart/form-data" class="form-group w-50"> 
        <input type="file" name="documents" id="documents" multiple>
        <button class="btn btn-outline-dark w-100 mt-3">Subir Documentos</button>
    </form>

    <h3>Subir imagen de producto</h3>
     <form action="/api/users/{{user._id}}/documents" method="POST" enctype="multipart/form-data" class="form-group w-50">
        <input type="file" name="products" id="products" accept="image/*">
        <button  class="btn btn-outline-dark w-100 mt-3" type="submit">Subir Producto</button>
    </form>
</main>    
